<% include ../header.ejs %>

    <table class="table table-bordered table-hover">
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Content</th>
            <th>Name</th>
            <th>Date</th>
        </tr>
        <tr>
            <td>
                <a href="#"></a>
            </td>
            <td>
                <a href="#"></a>
            </td>
            <td>
                <a href="#"></a>
            </td>
            <td>
                <a href="#"></a>
            </td>
            <td>
                <a href="#"></a>
            </td>
        </tr>
    </table>


    <a href="/qna/write" class="btn btn-default">Question</a>

<% include ../footer.ejs %>
















