<% include ../header.ejs %>

    <div class="col-lg-12">
        <div class="container" style="padding-top:15px;">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Name</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td>
                        <a href="#"></a>
                    </td>
                    <td>
                        <a href="#"></a>
                    </td>
                    <td>
                        <a href="#"></a>
                    </td>
                    <td>
                        <a href="#"></a>
                    </td>
                    <td>
                        <a href="#"></a>
                    </td>
                </tr>
            </table>
            <a href="/qna/write" class="btn btn-default">Question</a>
        </div>
    </div>

    

<% include ../footer.ejs %>
















